@import "flex";
@import "normalize";

@include normalize();

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $page-background-color;
  overflow-y: scroll;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5em;
}

textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 4px;
  padding: $base-offset / 2 $base-offset;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  &:active {
    background-color: $accent-color-active !important;
    outline: none;
    color: #fff !important;
    outline: none;
  }

  &:hover {
    background-color: $accent-color-hover;
  }

  &.selected {
    color: #fff !important;
    background-color: $primary-color;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

svg {
  .stroke {
    stroke: $site-path-color;
  }
}